footer {
  width: 100%;
  height: auto;
  background-color: #151518;
  color: $color-white;
  padding: $gap-3 0px;

  p {
    font-size: 1.8rem;
    text-align: center;
  }

  @include responsive-desktop {
    .grid-layout {
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: $gap-5;

      div {
        display: none;
      }
    }
  }
}
